<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">BETAZON</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item d-inline-flex">
      <!--<a class="nav-link p-2" routerLink="/login" routerLinkActive="active">Login</a>-->
      <a class="nav-link p-2" routerLink="/register" routerLinkActive="active">Registra Customer</a>
      <!--<a class="nav-link p-2" routerLink="/about" routerLinkActive="active">Chi Siamo</a>-->
      <a class="nav-link p-2" routerLink="/customer" routerLinkActive="active">Customer</a>
      <!--<a *ngIf="verify != null && verify != ''" class="nav-link p-2" routerLink="/messaggi" routerLinkActive="active">Messaggi</a>-->
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>